*{
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#App {
  display: flex;
  justify-content: center;
  border: 20px white solid;
  padding: 5px;
  min-height: 600px;
  height: 100vh;
  background-color: aquamarine;

}

.app-section{
  flex: 0 0 50%;
  background-color: rgba(214, 209, 219, 0.692);
  padding: 5px;
}

#event-list{
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*****************
  List Item
******************/
.event-list-item{
  background-color: white;
  width: 100%;
  margin: 5px 0px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.event-item-title{
  font-weight: 600;
  font-size: large;
}

.event-date{
  text-align: center;
  min-width: max-content;
}

.green{
  color:green;
}
.red{
  color:red;
}
/*****************
  Single Event
******************/

