*{
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#App {
  border: 15px #FCFAFA solid;
  padding: 10px;
  min-height: 600px;
  height: 100vh;
  background-color: #0D3B66;
  line-height: 1.5rem;

}

#content{
  height: calc(100% - 40px);
  display: flex;
  justify-content: center;
}

.app-section{
  flex: 0 0 50%;
  background-color: #C8D3D5;
  padding: 10px;


}

#event-list{
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*****************
  List Item
******************/
.event-list-item{
  background-color: white;
  width: 100%;
  margin: 7px 0px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.event-item-title{
  font-weight: 600;
  font-size: large;
}

.event-date{
  text-align: center;
  min-width: max-content;
  color: #586F7C
}

.green{
  color:green;
}
.red{
  color:red;
}
/*****************
  Single Event
******************/

#selected{
  width: 100%;
  background-color: #FCFAFA;
  min-height: 30%;
  padding: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#event-title{
  line-height: 2rem;
}

#event-artist{
  font-size: x-large;
  font-weight: 600;
}
#event-venue{
  font-size: large;
  font-weight: 600;
}


/*****************
  Location Select
******************/
#location-select{
  height: 40px;
  background-color: #586F7C;
  color:white;
}

